{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="bg-light">
    <div class="container setting-up-page">
        <h1>About Us</h1>
        <br>
        <p>Welcome to Royal Dominion Renovation , your trusted partner in home and commercial property renovation. With
            extensive experience in the industry, we specialize in a wide range of services to meet all your renovation
            needs.</p>
        <br>
        <h1>Why Choose Us?</h1>
        <br>
        <p>Our team of skilled professionals is dedicated to delivering high-quality workmanship on every project, big
            or
            small. We pride ourselves on our commitment to excellence and customer satisfaction. Whether you're looking
            to
            update a single room or undertake a large-scale renovation, we have the expertise and resources to bring
            your
            vision to life.</p>
        <br>
        <h1>Our Commitment</h1>
        <br>
        <p>At Royal Dominion Renovation Co., we believe in building lasting relationships with our clients by providing
            reliable, efficient, and affordable services. We are here to help you transform your space into something
            truly
            special.</p>
        <br>
        <p>Contact us today to discuss your next project and see how we can make your renovation dreams a reality.</p>
    </div>
</div>

{% endblock %}