{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container" style="margin-top: 50px;">
    <center><i class="fas fa-check-circle" style="font-size: 72px;margin-bottom: 20px;color: #28A745;"></i></center>
    <h2 class="text-center">Success</h2>
    <br>
    <p class="text-center">Message sent. We will contact you soon.</p>
	<br>
	<div class="text-center">
		<a href="{% url 'home' %}" class="btn btn-success">Return</a>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>


{% endblock %}