{% extends 'base.html' %}
{% load static %}

{% block content %}

<br><br>

<div class="one">
    <h1 class="title-g">Videos</h1>
</div>

<br><br>

<!-- Gallery Videos -->
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

            <video class="w-100 shadow-1-strong rounded mb-4" controls>
                <source src="{% static 'video/Video1.mp4' %}" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>

            <video class="w-100 shadow-1-strong rounded mb-4" controls>
                <source src="{% static 'video/Video4.mp4' %}" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>

            <video class="w-100 shadow-1-strong rounded mb-4" controls>
                <source src="{% static 'video/Video7.mp4' %}" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>

        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">

            <video class="w-100 shadow-1-strong rounded mb-4" controls>
                <source src="{% static 'video/Video2.mp4' %}" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>

            <video class="w-100 shadow-1-strong rounded mb-4" controls>
                <source src="{% static 'video/Video5.mp4' %}" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>

            <video class="w-100 shadow-1-strong rounded mb-4" controls>
                <source src="{% static 'video/Video8.mp4' %}" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>

        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">

            <video class="w-100 shadow-1-strong rounded mb-4" controls>
                <source src="{% static 'video/Video3.mp4' %}" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>

            <video class="w-100 shadow-1-strong rounded mb-4" controls>
                <source src="{% static 'video/Video6.mp4' %}" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>

        </div>
    </div>
</div>
<!-- Gallery -->

<br><br>

<div class="one">
    <h1 class="title-g">Photos</h1>
</div>

<br><br>

<!-- Gallery Photos -->
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img id="myImg" src="{% static 'images/products/Photo1.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water" />

            <img src="{% static 'images/products/Photo2.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo7.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo10.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo13.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo16.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo19.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo22.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo25.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo28.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo31.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo34.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo37.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="{% static 'images/products/Photo3.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds" />

            <img src="{% static 'images/products/Photo4.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water" />

            <img src="{% static 'images/products/Photo8.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo11.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo14.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo17.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo20.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo23.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo26.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo29.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo32.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo35.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo38.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="{% static 'images/products/Photo5.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea" />

            <img src="{% static 'images/products/Photo6.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park" />

            <img src="{% static 'images/products/Photo9.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo12.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo15.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo18.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo21.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo24.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo27.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo30.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo33.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

            <img src="{% static 'images/products/Photo36.jpg' %}" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

        </div>
    </div>
</div>
<!-- Gallery -->

{% endblock %}