{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="bg-light">
    <div class="container setting-up-page">
        <h1>Tile Installation</h1>
        <br>
        <p>Expertly laying tiles on floors and walls with precision and attention to detail.</p>
        <br>
        <h1>Flooring</h1>
        <br>
        <p> Providing and installing various types of flooring, including hardwood, laminate, and vinyl.</p>
        <br>
        <h1>Painting</h1>
        <br>
        <p> Delivering professional painting services for both the interior and exterior of homes and commercial
            buildings.</p>
    </div>
</div>

{% endblock %}