{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" />

<footer class="deneb_footer">
    <section class="deneb_cta">
        <div class="container">
            <div class="cta_wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="cta_content">
                            <h3>Have Any Project in Mind ?</h3>
                            <p>Write us to tell us about your home and what you'd like us to help out with.</p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="button_box">
                            <a href="{% url 'contact' %}" class="btn btn-success">Hire Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<div class="widget_wrapper" style="background-image: url(http://demo.tortoizthemes.com/deneb-html/deneb-ltr/assets/images/footer_bg.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="widget widegt_about">
						<div class="widget_title">
							<img src="assets/images/logo_1.png" class="img-fluid" alt="">
						</div>
						
						<ul class="social">
							<li><a href="https://www.facebook.com/profile.php?id=61556075084686&mibextid=JRoKGi"><i class="fab fa-facebook-f"></i></a></li>
							<!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li> -->
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_link">
						<div class="widget_title">
							<h4>Links</h4>
						</div>
						<ul>
							<li><a href="{% url 'services' %}">SERVICES</a></li>
							<li><a href="{% url 'about' %}">ABOUT</a></li>
							<li><a href="{% url 'gallery' %}">GALLERY</a></li>
							<li><a href="{% url 'contact' %}">HIRE US</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_contact">
						<div class="widget_title">
							<h4>Contact Us</h4>
						</div>
						<div class="contact_info">
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-phone-alt"></i>
								</div>
								<div class="info">
									<p><a href="tel:+919246147999">(431) 335-8103</a></p>
								</div>
							</div>
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-envelope"></i>
								</div>
								<div class="info">
									<p><a href="rakytskyi.bohdan@gmail.com">rakytskyi.bohdan@gmail.com</a></p>
								</div>
							</div>
							<!-- <div class="single_info">
								<div class="icon">
									<i class="fas fa-map-marker-alt"></i>
								</div>
								<div class="info">
									<p>125, Park street aven, Brocklyn,<span>Newyork.</span></p>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="copyright_text">
						<p>&copy; 2024 Royal Dominion Renovation. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>